* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(imagens/backgroundRpg.png);
}

h1 {
  font-size: 85px;
  text-align: center;
  color: white;
  font-family: Cinzel;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.pai {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iniciar {
  margin-top: 15px;
  display: inline-block;
  border-radius: 5px;
  padding: 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  font-family: Cinzel;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.iniciar:hover {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  transform: scale(1.05);
  transition: background-color 0.5s ease;
}

@media (max-width: 1024px) {
  body {
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


