* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(imagens/backgroundRpg.png);
}

h1 {
  font-size: 85px;
  text-align: center;
  color: white;
  font-family: Cinzel;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.pai {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.bloco {
  text-shadow: 0 0 black;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.37);
  margin: auto;
  text-align: center;
  width: 455px;
  border: 2px solid white;
  border-radius: 20px;
  color:rgb(138, 80, 4);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}*/

/*.comoJogar {
  margin-top: 5px;
}*/

.iniciar {
  margin-top: 15px;
  display: inline-block;
  border-radius: 5px;
  padding: 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  font-family: Cinzel;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.iniciar:hover {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  transform: scale(1.05);
  transition: background-color 0.5s ease;
}


/*.bloco {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}*/

