* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    margin: 0;
    background-image: url(imagens/invisibilidade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    /* Centralização vertical e horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cinzel;
    text-align: center;
}


.pai {
    color: white;
    width: 700px;
    margin-left: 20px;
    text-align: justify;
    padding: 15px;
    box-shadow: 0 0 15px 1px white, 0 0 2px 1px goldenrod;
    backdrop-filter: blur(5px);
    font-size: 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.pai:hover {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease;
}

.opcao{
    margin-left: 230px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 5px;
    padding: 20px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
  
.opcao:hover {
    box-shadow: 0 0 15px 1px white, 0 0 2px 1px goldenrod;
    text-shadow: 0 0 8px white;
    transform: scale(1.05);
}

span{
    color: #e7d157;
}

.over{
    font-weight: bold;
    color: red;
}

h2{
    color: #e7d157;
}